<p id="notice"><%= notice %></p>

<p>
  <strong>Correo:</strong>
  <%= @key.correo %>
</p>

<p>
  <strong>Api key:</strong>
  <%= @key.api_key %>
</p>

<p>
  <strong>Cantidadreq:</strong>
  <%= @key.cantidadReq %>
</p>

<%= link_to 'Edit', edit_key_path(@key) %> |
<%= link_to 'Back', keys_path %>
